<!Doctype HTML>
<html lang="id">
  <head>
    <title>Archive | prehistoric.me</title>
    <link href="/css/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://storage.googleapis.com/static.prehistoric.me/pictures/favicon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1><a href="/">prehistoric.me</a></h1>
    </header>
    <main>
      <h2>Tulisan</h2>
      <ol class="post-list">
        <li class="post-list__item">
          <a href="#" class="post-list__link">Post title</a>
          <span class="post-list__timestamp"></span>
        </li>
        <li class="post-list__item">
          <a href="#" class="post-list__link">Post title</a>
          <span class="post-list__timestamp"></span>
        </li>
        <li class="post-list__item">
          <a href="#" class="post-list__link">Post title</a>
          <span class="post-list__timestamp"></span>
        </li>
      </ol>
    </main>
    <hr>
    <p><a href="/">Halaman depan</a> &mdash; <a href="/about">Perihal</a> &mdash; <a href="/blogroll">Blogroll</a></p>
  </body>
</html>
