<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="id" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-con" href="/favicon.ico" />
    <link rel="icon" type="image/x-con" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/stylesheets/index.css" />
    <title>prehistoric.me | yes, i will be read</title>
  </head>
  <body class="home index">
    <div class="container">
      <div class="header">
        <h1 class="header__title"><a href="/">prehistoric.me</a></h1>
        <div class="header-navigation">
          <a class="header-navigation__item" href="/about">perihal</a>
          <a class="header-navigation__item" href="/blogroll">blogroll</a>
        </div>
      </div>
      <div class="post-index">
        <div class="post-index__item">
          <div class="post-index__item-timestamp">
            28/03/2017
          </div>

          <div class="post-index__item-title">
            <a href="#">Post listed first</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
