<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-con" href="/favicon.png" />
    <link rel="icon" type="image/x-con" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/post.css" />
    <title></title>
  </head>
  <body>
    <div class="header">
      <h1><a href="/">prehistoric.me</a></h1>
    </div>
    <div class="post">
      <div class="post__header">
        <h2 class="post__title"></h2>

        <div class="post__timestamp">
        </div>
      </div>

      <div class="post__content">
      </div>
    </div>
    <div class="footer">
      <a href="/">← halaman depan</a>
    </div>
  </body>
</html>
