@import '@exampledev/new.css';

h1>a, h2>a {
  color: #333;
  text-decoration:none;

  &:hover {
    text-decoration: none;
    color: #222;
  }
}

h1>a[href="/"] {
  padding-left: 40px;
  background: url(https://storage.googleapis.com/static.prehistoric.me/pictures/tewet.png) 0 bottom/32px no-repeat;
}

figure {
  margin: auto;
}

figcaption{
  margin-top:-1em;
  font-size:.9em;
  color:#444;
}

a {
  color: #004da8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-size: 1.2rem;
}

.blogroll {
  &__list {
    padding:0;
  }

  &__item {
    display:inline;
    list-style-type:none;

    &:after {
      content:'\a0\b7\a0';
    }
  }
}

.post-list {
  padding-left: 0;

  &__item {
    list-style-type: none;
  }

  &__timestamp {
    display: inline-block;
    vertical-align: top;
    width: 120px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    width: 620px;
  }
}

.post {
  &__timestamp {
    font-style: italic;
  }
}
