*{margin:0;padding:0;}

body{
  font-family: 'sans-serif';
  background-color: #fefefe;
  line-height: 1.6em;
}

@media all and (min-width: 720px) {
  body {
    font-size: 18px;
  }
}

@media all and (max-width: 719px) and (min-width:480px){
  body{
    font-size: 16px;
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media all and (max-width: 479px) {
  body{
    font-size: 14px;
    margin-left: 8%;
    margin-right: 8%;
  }
}

a {
  color:#273974;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.container {
  margin: 4em auto;
  max-width: 760px;
}

.header {
  margin: auto;
  margin-bottom: 3em;

  &__title {
    width: 70px;
    background: url(/assets/images/tewet.png) no-repeat;
    display: inline-block;
    line-height: 70px;

    a {
      display: block;
      text-indent: -10000px;
    }
  }

  &-navigation {
    font-size: 90%;
    vertical-align: top;
    text-align: right;
    float: right;
    line-height: 70px;

    &__item {
      margin-left: 1em;
    }

    a {
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.post-index {
  &__item {
    padding-bottom: .8em;
    margin-bottom: .8em;
    border-bottom: 1px solid #eee;

    &:hover &-timestamp {
      color: #444;
    }

    &-timestamp {
      float: right;
      padding-left: .7em;
      color: #aaa;
    }
  }

  &-item-shortlog {
    line-height: 140%;
    font-size: 80%;
  }
}

.footer {
  text-align: center;
  padding-top: 2em;
  margin: 2em 0;
  border-top: 1px solid #eee;
}

h2 {
  font-family: Georgia, serif;
  line-height: 1.2em;
  font-weight: 400;
  padding-bottom: .4em;
}

li.blogroll__item {
  display: inline;

  &:after{
    content: '\a0\b7\a0';
  };

  &:last-child:after {
    content: '';
  }
}

.blogroll-container {
  p {
    margin-bottom: 1em;
  }
}
