<!Doctype HTML>
<html lang="id">
  <head>
    <title>About | prehistoric.me</title>
    <link href="https://storage.googleapis.com/static.prehistoric.me/assets/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://storage.googleapis.com/static.prehistoric.me/pictures/favicon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1><a href="/">prehistoric.me</a></h1>
    </header>
    <main>
      <article>
        <h2>Perihal</h2>
        <section>
          <p>Situs ini ditulis dengan bantuan static blog generator&nbsp;<a href="https://github.com/wildtype/hammerstone">hammerstone</a>. Isi adalah pendapat pribadi dan tidak bermaksud menunjukkan atau mewakili pandangan tempat bekerja, organisasi, ataupun komunitas yang saya ikuti.</p>
        </section>
      </article>
    </main>
    <hr>
    <p><a href="/">Halaman depan</a> &mdash; <a href="/about">Perihal</a> &mdash; <a href="/blogroll">Blogroll</a></p>
  </body>
</html>
