<main>
  <h2>Tulisan</h2>
  <ol class="post-list">
    <li class="post-list__item">
      <span class="post-list__timestamp"></span>
      <a href="#" class="post-list__link">Post title</a>
    </li>
    <li class="post-list__item">
      <span class="post-list__timestamp"></span>
      <a href="#" class="post-list__link">Post title</a>
    </li>
    <li class="post-list__item">
      <span class="post-list__timestamp"></span>
      <a href="#" class="post-list__link">Post title</a>
    </li>
  </ol>
</main>
<hr>
