<!Doctype HTML>
<html lang="id">
  <head>
    <title>Blogroll | prehistoric.me</title>
    <link href="https://storage.googleapis.com/static.prehistoric.me/assets/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://storage.googleapis.com/static.prehistoric.me/pictures/favicon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1><a href="/">prehistoric.me</a></h1>
    </header>
    <main>
      <article>
        <h2>Blogroll</h2>
        <section>
          <p>Berikut ini adalah tautan menuju blog/situs kawan-kawan saya, tanpa urutan tertentu. Bingung mau kemana? <a href="/random" class="random-visit">Klik disini</a> untuk mengunjunginya secara acak! Tips: klik tengah atau buka di tab baru beberapa kali, kemungkinan akan menuju situs yang berbeda-beda 😉</p>
          <ul class="blogroll__list">
            <li class="blogroll__item"><a href="https://andyzs.net">Catatan Stensil Pengalaman Hidup</a></li>
            <li class="blogroll__item"><a href="https://yogayudistira.id/">Fans-nya JeKeTiForTiEit</a></li>
            <li class="blogroll__item"><a href="https://linhub.io/">seterah aja.ane.mah</a></li>
            <li class="blogroll__item"><a href="https://bluemeda.web.id">Kertas Kecil Yang Ditinggal Pas Lagi Sayang-sayangnya</a></li>
            <li class="blogroll__item"><a href="https://rezhajulio.id">Hard coded chemist</a></li>
            <li class="blogroll__item"><a href="https://farahclara.id">Separuhnya Indomie</a></li>
            <li class="blogroll__item"><a href="https://se7entime.wordpress.com/">Tujuh Waktu</a></li>
            <li class="blogroll__item"><a href="https://nsetyo.com">Catatan seorang intel</a></li>
            <li class="blogroll__item"><a href="https://petruknisme.com">Aan Penyuka Petruk</a></li>
            <li class="blogroll__item"><a href="https://rizaumami.github.io">Mimin Yang punya Pegelinux</a></li>
            <li class="blogroll__item"><a href="https://sumarouno.github.io">Blog-nya orang gaje</a></li>
            <li class="blogroll__item"><a href="https://situsali.com">Bang Ali Sales distro Arch</a></li>
            <li class="blogroll__item"><a href="https://hadi.kerekeren.id/">Code, Error &amp; Bugs</a></li>
            <li class="blogroll__item"><a href="https://sucipto.net/">Blognya Om Cipto</a></li>
            <li class="blogroll__item"><a href="https://muhammadrefa.wordpress.com">Catatan sehari-hari Refa</a></li>
            <li class="blogroll__item"><a href="http://zhaaadh.com/">ZText Log</a></li>
            <li class="blogroll__item"><a href="https://arbaun.gitlab.io">Arba GNU Enthusiast</a></li>
            <li class="blogroll__item"><a href="https://ha.hn.web.id/">Catatan Kecil di Dunia Maya</a></li>
            <li class="blogroll__item"><a href="https://rizkiepratama.net/">Catatan Naga Bonar</a></li>
            <li class="blogroll__item"><a href="https://ahmadihamid.com/">Blognya bang Hamid</a></li>
            <li class="blogroll__item"><a href="https://www.afternewbie.com/">After Newbie</a></li>
          </ul>
          <script>+function(){function e(a){return Math.random()*a|0}for(var a=document.querySelector(".blogroll__list"),b=document.querySelectorAll("li.blogroll__item a"),c=a.children.length,d=document.querySelector(".random-visit"),f=c;f>=0;f--)a.appendChild(a.children[e(f)]);d.addEventListener("mousedown",function(){var a=b[e(c)];d.href=a.href})}();</script>
        </section>
      </article>
    </main>
    <hr>
    <p><a href="/">Halaman depan</a> &mdash; <a href="/about">Perihal</a> &mdash; <a href="/blogroll">Blogroll</a></p>
  </body>
</html>
