<!Doctype HTML>
<html lang="id">
  <head>
    <title>prehistoric.me -- Yes, I will be read</title>
    <link href="https://storage.googleapis.com/static.prehistoric.me/assets/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://storage.googleapis.com/static.prehistoric.me/pictures/favicon.png">
    <link rel="alternate" type="application/rss+xml" href="https://prehistoric.me/feed/index.xml" title="prehistoric.me » Feed" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1><a href="/">prehistoric.me</a></h1>
    </header>
    <main>
      <article>
        <h2><a href="#" class="post__link">Post title</a></h2>
        <p class="post__timestamp">timestamp here</p>
        <section class="post__content">content here</section>
      </article>
    </main>
    <p><a href="/archive">Semua Tulisan</a> &mdash; <a href="/about">Perihal</a> &mdash; <a href="/blogroll">Blogroll</a></p>
  </body>
</html>
