<!DOCTYPE HTML>
<html lang="id">
  <head>
    <title>prehistoric.me</title>
    <link rel="preload"
          href="https://storage.googleapis.com/static.prehistoric.me/assets/index.css"
          as="style" onload="this.onload=null;this.rel='stylesheet';">
    <noscript>
      <link href="https://storage.googleapis.com/static.prehistoric.me/assets/index.css" rel="stylesheet" />
    </noscript>
    <link rel="alternate" type="application/rss+xml" href="https://prehistoric.me/feed/index.xml" title="prehistoric.me » Feed" />
    <link rel="shortcut icon" href="https://storage.googleapis.com/static.prehistoric.me/pictures/favicon.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="description" content="" />
  </head>
  <body>
    <header>
      <h1><a href="/">prehistoric.me</a></h1>
    </header>
    <p><a href="/">Halaman depan</a> / <a href="/archive">Semua Tulisan</a> / <a href="/about">Perihal</a> / <a href="/blogroll">Blogroll</a></p>
<style>body{font-size:1.2rem;max-width:840px;margin:0 auto;}figure{margin:auto}h2>a{color:#333;text-decoration:none;}</style>
  </body>
</html>
